// App common widgets styles
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: $gutter * 4;
  @include size(100%, 100vh);

  &__container {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }

  &__content {
    min-height: 100px;
    width: 100%;
    margin-bottom: $gutter * 3;
  }

  &__player {
    min-height: 100px;
    width: 100%;
  }
}
