// App common widgets styles
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: ($gutter * 4 + 4px) 0;

  &__container {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }

  &__content {
    min-height: 300px;
    width: 100%;
    margin-bottom: $gutter * 2;
    padding: $gutter ($gutter * 1.5);

    &--loading {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__player {
    margin: 0 auto;
    width: 100%;
    max-width: 740px;
  }

  @include gadgets {
    padding: 0;

    .page__container,
    .page__player {
      max-width: 100%;
    }

    .page__player {
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: $layout-fixed;
    }

    .page__content {
      margin-bottom: 0;
    }

    .page__container {
      position: relative;
      z-index: $layout-body;
    }
  }
}

.content {
  header {
    padding-top: 7px;
    border-bottom: 1px solid $color_border;
    margin-bottom: 15px;

    h1 {
      margin-top: 0;
      margin-bottom: 12px;
    }

    h4 {
      margin-top: 0;
      margin-bottom: 14px;
    }
  }
}

.player {
  position: relative;

  &__track-duration {
    position: absolute;
    top: 25px;
    right: 20px;
    z-index: $layout-fixed;
    background: $color_white;
    color: $color_text_light;
    @include text($font-family_sans, $font-size_small, $font-weight_sans_regular);
  }

  &__crack {
    position: absolute;
    top: 26px;
    right: 101px;
    z-index: $layout-fixed;
    background: $color_white;
    @include size(20px, 20px);
  }
}

.phrase {
  position: relative;
  padding: 13px 30px 15px 54px;

  &__avatar {
    position: absolute;
    left: 4px;
    top: 16px;
  }

  h4 {
    margin: 0;
  }

  &__text {
    @extend %very-long-letters-protection;
    padding-top: 6px;

    .word:not(:last-child) {
      margin-right: 0.375em;
    }
  }
}

.word {
  display: inline-block;
  white-space: nowrap;

  &--active {
    background: $color_primary_light;
  }
}


// React H5 Audio Player customization (Hello !important style (((( )
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

.react-h5-audio-player {

  .flex {
    display: block !important;
    box-shadow: none !important;
    padding-left: 90px !important;
    padding-right: 115px !important;

    .toggle-play-wrapper {
      position: relative;
      display: block !important;
      flex: none !important;

      .toggle-play-button {
        left: -34px !important;
        top: 2px !important;
        background: $color_primary !important;
        width: 36px !important;
        height: 36px !important;

        // for dirty crack  sudden uncontrolled autoplay
        // visibility: hidden;

        // &--after-firs-click {
        //  visibility: visible;
        // }
        // for dirty crack  sudden uncontrolled autoplay

        .play-icon {
          top: -2px;
          left: 11px !important;
        }

        .pause-icon {
          top: -1px;
          left: 8px !important;
          box-shadow: $color_primary 7px 0px 0px 0px inset !important;
        }
      }
    }

    .progress-bar-wrapper {
      position: relative !important;
      padding-top: 18px !important;
      padding-right: 0 !important;
      display: block !important;
      flex: none !important;

      .progress-bar {
        height: 4px !important;
        padding-right: 7px !important;
        background: $color_gray !important;
      }

      .indicator {
        background: $color_primary !important;
        top: 13px !important;
        width: 14px !important;
        height: 14px !important;
        opacity: 1 !important;
        will-change: left;
        @include transitions(left);
      }

      .sought {
        pointer-events: none;
        width: 0;
        position: relative;
        top: -4px;
        height: 4px;
        background: $color_primary;
        will-change: width;
        @include transitions(width);
      }

      .audio-info {
        position: absolute;
        flex: none !important;
        top: 10px;
        right: -96px;
        position: absolute;
        color: $color_text_light;
        @include text($font-family_sans, $font-size_small, $font-weight_sans_regular);

        .time {

        }

        .volume-controls {
          display: none;
        }
      }
    }
  }
}
