// Project mixins
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

// Media
//////////////////////////////////////////////////////
// Breackpoins in styles/utils/_variables.scss

@mixin gadgets {
  @media only screen and (max-width: $breackpoint-gadgets) {
    @content;
  }
}


// Elements
//////////////////////////////////////////////////////

// Size )
@mixin size($width, $height) {
  width: $width;
  height: $height;
}


// Effects
//////////////////////////////////////////////////////

// Multi-transition
// Pass in any number of transitions
@mixin transitions($transitions...) {
  $unfoldedTransitions: ();

  @each $transition in $transitions {
    $unfoldedTransitions: append($unfoldedTransitions, unfoldTransition($transition), comma);
  }

  transition: $unfoldedTransitions;
}

@function unfoldTransition($transition) {
  // Default values
  $property: all;
  $duration: $transition_duration;
  $easing: $transition_timing-function;
  $delay: $transition_delay;
  $defaultProperties: ($property, $duration, $easing, $delay);

  // Grab transition properties if they exist
  $unfoldedTransition: ();

  @for $i from 1 through length($defaultProperties) {
    $p: null;

    @if $i <= length($transition) {
      $p: nth($transition, $i);
    } @else {
      $p: nth($defaultProperties, $i);
    }
    $unfoldedTransition: append($unfoldedTransition, $p);
  }

  @return $unfoldedTransition;
}

