// Project variables
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

// Effects
//////////////////////////////////////////////////////

$fade: 0.2;
$fade-percent: 8%;

$shadow_coords-x: -1px;
$shadow_coords-y: 2px;
$shadow_size: 7px;
$shadow_stretch: -1px;


// Sizes amd layouts
//////////////////////////////////////////////////////

$gutter: 20px;

$layout-body: 500;
$layout-fixed: 1000;

// Colors
//////////////////////////////////////////////////////

// Palette
//////////////////////////////////////////////////////

$color_white: #fff;
$color_black: #000;
$color_gray: #e8e8e8;


$color_blue: #3374eb;
$color_blue_light: #dae7ff;

// Main

$color_primary: $color_blue;
$color_primary_light: $color_blue_light;


// Special

$color_light: #f4f5f7;

// Text

$color_text: #05294b;
$color_text_light: #8494a6;

// Links

$color_link: $color_primary;
$color_link-hover: $color_primary_light;

// Shadows

$color_shadow: rgba($color_black, 0.15);

// Functional

$color_disabled: $color_light;
$color_placeholder: $color_disabled;

$color_background: $color_light;

// Borders

$color_border: darken($color_light, ($fade-percent / 2));


// Breackpoints and containers
//////////////////////////////////////////////////////

// Small screen / SM / tablet
$breackpoint_gadgets:                  841px !global;


// Elements
//////////////////////////////////////////////////////

// Roundings

$border-radius: 4px;
