// Project variables
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

// Effects
//////////////////////////////////////////////////////

$fade: 0.2;
$fade-percent: 8%;

$transition_duration: 0.2s;
$transition_timing-function: ease-out;
$transition_delay: 0s;

$shadow_coords-x: -1px;
$shadow_coords-y: 2px;
$shadow_size: 7px;
$shadow_stretch: -1px;


// Sizes
//////////////////////////////////////////////////////

$gutter: 20px;


// Colors
//////////////////////////////////////////////////////

// Palette
//////////////////////////////////////////////////////

$color_white: #fff;
$color_black: #000;
$color_gray: #e8e8e8;


$color_blue: #3374eb;
$color_blue_light: #dae7ff;

// Main

$color_primary: $color_blue;
$color_primary_light: $color_blue_light;


// Special

$color_light: #f4f5f7;

// Text

$color_text: #05294b;
$color_text_light: #8494a6;

// Links

$color_link: $color_primary;
$color_link-hover: $color_primary_light;

// Shadows

$color_shadow: rgba($color_black, 0.15);

// Functional

$color_disabled: $color_light;
$color_placeholder: $color_disabled;

$color_background: $color_light;

// Borders

$color_border: darken($color_light, ($fade-percent / 2));


// Breackpoints and containers
//////////////////////////////////////////////////////

$breackpoint_min: 320px;

// Extra small screen / XS / phone
$breackpoint_xs:                  360px !global;
$breackpoint_xs_min:              $breackpoint_xs !global;

// Small screen / SM / tablet
$breackpoint_sm:                  768px !global;
$breackpoint_sm_min:              $breackpoint_sm !global;

// Medium screen / MD desktop / netbooks?
$breackpoint_md:                  992px !global;
$breackpoint_md_min:              $breackpoint_md !global;

// Large screen / LG / laptops?
$breackpoint_lg:                  1200px !global;
$breackpoint_lg_min:              $breackpoint_lg !global;

// Large screen / XL desktop / large laptops and small desktops?
$breackpoint_xl:                  1499px !global;
$breackpoint_xl_min:              $breackpoint_xl !global;

// Large screen / MG desktop / desktops
$breackpoint_mg:                  1700px !global;
$breackpoint_mg_min:              $breackpoint_lg !global;

$breackpoint_xs_max:              ($breackpoint_sm_min - 1) !global;
$breackpoint_sm_max:              ($breackpoint_md_min - 1) !global;
$breackpoint_md_max:              ($breackpoint_lg_min - 1) !global;
$breackpoint_lg_max:              ($breackpoint_xl_min - 1) !global;
$breackpoint_xl_max:              ($breackpoint_mg_min - 1) !global;

// Container sizes

$content-container_sm: 720px;
$content-container_md: 940px;
$content-container_lg: 1140px;

// Small screen / tablet
$container_sm:                 ($content-container_sm + $gutter);

// Medium screen / desktop
$container_md:                 ($content-container_md + $gutter);

// Large screen / wide desktop
$container_lg:                 ($content-container_lg + $gutter);


// Elements
//////////////////////////////////////////////////////

// Roundings

$border-radius: 4px;
